/* DESAFIO 6 */
@media (max-width: 599px) {
    body {
        background-color: rgb(255, 94, 0);   
        font-size: 18px;
        text-align: center;
        flex-direction: column;
    }
    .imagemRock{
        display: none;
    }
}
@media (min-width: 600px) and  (max-width: 899px) {
    body {
        background-color: rgb(21, 91, 221);
        font-size: 22px;
        text-align: center;
        flex-direction: column;
    }
    .imagemRock{
        display: none;
    }
}
@media (min-width: 899px) {
    body {
        background-color: rgb(172, 96, 190);
        font-size: 26px;
        text-align: center;
        flex-direction: row;
        
    }
}
/* FIM DESAFIO 6 */